@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.block{
    background-color:blue;
    width: 30vw;
    height: 30vw;
    float:left;
}
p{
    background-color: red;
}
.hello{
    background-color: yellow;
    width: 30vw;
    height: 30vw;
}

