@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.block{
    background-color:blue;
    width: 10vw;
    height: 10vw;
    float:left;
}
p{
    background-color: red;
}
.hai{
    float:left;
    background-color: yellow;
    width: 10vw;
    height: 10vw;
}
.hello{
    float:right;
    width: 10vw;
    height: 10vw;
    background-color: red;

}
.what{
    clear:both;
}

section{
    background-color:rgb(90, 168, 45);
    /* overflow:auto; */
    display:flow-root;
}

